#### Pipeline configuration ####
# Set to one to add MgII line core emission
line_core_emission = 1
# Set to one to add ISM absorption
add_ism_abs = 1

#### Line core emission configuration ####
# MgII column density (will be calculated if set to None)
mg2_col = None
# MgI column density (will be calculated if set to None)
mg1_col = None
# FeII column density (will be calculated if set to None)
fe2_col = None
# sigmaMgIIh -> MgII k line (2802 Å)
sigmaMg22 = 0.257
# sigmaMgIIk -> MgII h line (2795 Å)
sigmaMg21 = 0.288

#### TEST/DEBUG configuration ####
# Enable Test configuration 
# this dumps the model and the flux snapshots for comparison or debugging reasons.
# I would not recommend to enable this for production runs.
test_mode = 1