# ------------------------------------------------------------------
# WALTZER NIR Channel Configuration
# ------------------------------------------------------------------
# Name of the detector channel (used for file naming and logging)
channel_name = NIR

#######
# Detector geometry
#######
# Number of spectral pixels (dispersion direction)
x_pixels = 640
# Number of spatial pixels (cross-dispersion direction)
y_pixels = 512

# Spectral resolution model
# Instrumental FWHM = resolution_factor * pixel_scale
# Pixel scale is read from the effective area file header
resolution_factor = 1.0

#######
# DARK and BIAS: Detector noise properties
#######
# Dark current in electrons per second per pixel, similar to bias_offset, but for dark current
dark_noise = 500.0 # 10, 50, 100, 250

# std deviation, similar to read_noise, mean dark current in electrons per second per pixel
dark_current_sigma = 0.001

# Read noise in electrons RMS per pixel
read_noise = 98.0

# Constant electronic offset added to every pixel (in electrons)
# This defines the mean level of the bias frame
bias_offset = 95.0

# CCD gain in electrons per ADU
ccd_gain = 1.0


#######
# Effective area: Instrument throughput file
#######
# Filename only. File resolves it as: repo_root / "data" / effective_area_file
effective_area_file = waltzer_nir_eff_area.txt

#######
# Photometry properties:
#######
# 2D PSF image file used for NIR photometry PSF stamping
# Filename only. File resolves it as: repo_root / "data" / psf_file
psf_file = nir_psf.txt

#######
# Source position
#######
# Source position in arcsec on the detector.
# x: horizontal offset from detector center (0.0 = x=nx//2).
# y: vertical offset from detector center (0.0 = y=ny//2).
source_position_x_arcsec = 0.0
source_position_y_arcsec = 0.0

#######
# Photometry output
#######
# If True, draw an overlay showing aperture photometry circles/annulus on the science frame (PNG only)
draw_aperture_photometry_overlay = 1