# TODO !!!! Channel not yet available
# ------------------------------------------------------------------
# WALTZER NUV Channel Configuration
# ------------------------------------------------------------------
# Name of the detector channel (used for file naming and logging)
channel_name = IR
# Detector geometry
# Number of spectral pixels (dispersion direction)
x_pixels = 4096

# Number of spatial pixels (cross-dispersion direction)
y_pixels = 2048

# Spectral resolution model
# Instrumental FWHM = resolution_factor * pixel_scale
# Pixel scale is read from the effective area file header
resolution_factor = 2.0

# Detector noise properties
# Dark current in electrons per second per pixel
dark_noise = 0.02

# std deviation, like read_noise
# Mean dark current in electrons per second per pixel
dark_current_sigma = 0.001

# Read noise in electrons RMS per pixel
read_noise = 7.0

# Instrument throughput file
# Filename only. File resolves it as:
# repo_root / "data" / effective_area_file
effective_area_file = waltzer_vis_eff_area.txt

# CCD gain in electrons per ADU
ccd_gain = 1.0


# Spectrograph mode:
# 1 = single-order low-resolution mode (current default, one continuous spectrum on CCD)
# >1 = reserved for future multi-order / high-resolution modes (not implemented yet)
mode = 1
